<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @node.post_id %>
</p>

<p>
  <strong>Node:</strong>
  <%= @node.node_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @node.integer %>
</p>

<p>
  <strong>Content:</strong>
  <%= @node.content %>
</p>

<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
