<%= form_with(model: answer, local: true) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
        <% answer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question_id %>
    <%= form.number_field :question_id, value: @answer.question_id %>
  </div>

  <% if @answers != nil %>
    <tr>
      <% @answers.each do |answer| %>
      <td>選択肢<%= answer.id %>:<%= answer.content %></td>
      <% end %>
    </tr>
  <% end %>

  <div class="field">
    <%= form.label :answer_id %>
    <%= form.number_field :answer_id %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="actions">
    <%= form.submit '投稿する' %>
    <%= form.submit '他の選択肢を追加' %>
  </div>
<% end %>
