<div class="ui one column stackable center aligned page grid">
  <div class="column ten wide">
    <div class="ui segment users_box">
      <h2>ログイン</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <label><%= f.check_box :remember_me %>　ログイン状態を保持する</label>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "ログイン" %>
        </div>
      <% end %>
      <%= button_to 'ゲストユーザーでログイン', {controller: 'users/sessions', action: 'new_guest'}, method: :post %>
      <br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
