<%= form_with(model: post, local: true) do |f| %>
  <div class="field">
    <h2>チャートのタイトル</h2>
    <p id="notice_new_q"><%= flash[:notice] %></p>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :画像 %>
    <%= f.file_field :img, class: "image" %>
    <p><%= f.check_box :remove_img %>画像を削除する</p>
  </div>

  <div class="actions">
    <%= f.submit '次へ' %>
  </div>

<% end %>
