<!-- <div id="modal" class="modal">
       <div class="modal-content">
           <div class="modal-body">
               <h1>hello</h1>
               <input type="button" id="closeBtn" value="close">  <= 追加
           </div>
       </div>
   </div>

<input type="button" id="btn" value='click me'> -->

<p id="notice"><%= notice %></p>

<div id="container" class="ui stackable three column grid">
  <% @posts.each do |post| %>
  <div class="column">
    <div class="ui segments">
      <div class="ui segment" id="user_and_date">
        <div class="left">投稿者:<%= post.user.name %></div>
        <% if post.created_at == post.updated_at %>
          <div class="right">投稿日時:<%= simple_time(post.created_at) %></div>
        <% else %>
          <div class="right">投稿日時:<%= simple_time(post.updated_at) %></div>
        <% end %>
      </div>
      <div class="ui segment second">
        <% if post.img?%>
          <%= image_tag post.img.url, class: "index_post_image" %>
        <% else %>
          <%= image_tag 'noimage.png', class: "index_post_image" %>
        <% end %>
      </div>
      <div class="ui segment" id="index_title"><%= post.title %></div>
      <div class="ui segment attached button" onclick="location.href='/nodes?post_id=<%= post.id %>'">
        質問に答える
      </div>
      <div class="ui segment attached button" onclick="location.href='/posts/<%= post.id %>/#/posts/<%= post.id %>'">
        回答を見る
      </div>
    </div>
  </div>
  <% end %>
</div>
