<p id="notice"><%= notice %></p>

<div id="container" class="ui stackable three column grid">
  <% @posts.each do |post| %>
  <div class="column">
    <div id="posts_segment" class="ui segment">
      <p>ユーザーと作成日時表示</p>
      <p>画像予定</p>
      <p><%= post.title %></p>
      <p><%= link_to '質問に答える', nodes_path(post_id: post.id) %></p>
      <p><%= link_to '回答を見る', post_path(id: post.id) %></p>
    </div>
  </div>
  <% end %>
</div>
<!-- <h1>Posts</h1> -->
<!-- <table>
  <thead>
    <tr>
      <th>投稿一覧</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>ユーザーid:<%= post.user_id %></td>
        <td>No:<%= post.id %></td>
        <td><%= post.title %></td>
        <td>投稿日:<%= post.created_at %></td>
        <td><%= link_to '質問一覧へ', nodes_path(post_id: post.id) %></td>
        <td><%= link_to '編集', edit_post_path(post) %></td>
        <td><%= link_to '削除', post, method: :delete, data: { confirm: '削除すると復元できません!本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<%= javascript_pack_tag 'main' %>
<%= stylesheet_pack_tag 'main' %>
